cd C:\Users\User\Desktop\nfactorial

$urls = @(
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-4FZPUS4R.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-HZL4YIMB.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-A3IIQ6X3.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/p7r50UIhH99jKK4nNgJ4kde4pGs5G-bZ_K-OON1d-ZA.UU676PPR.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-4BO2FXUO.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-Y7LAZLKL.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-CVVGUFTP.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-BUB7OKJB.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-L6W2XQWO.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-N7AQS6ZT.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-42U43NKG.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-ZIYBC5TK.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-BPX7PDAP.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-IYQRDCP3.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-EOON3XAO.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-W63G4SA5.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-ISX6YQ6L.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-4RGBDUDN.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-7APT4QMI.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-IG35OHU3.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-4TONFM27.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-OJUONMOX.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/chunk-4OOLPKYW.mjs",
    "https://framerusercontent.com/sites/7yghCMT8Lg3FqlbLLafjE0/script_main.EVB5JZY5.mjs"
)


foreach ($u in $urls) {
  $fname = Split-Path $u -Leaf
  Write-Host "Downloading $fname ..."
  Invoke-WebRequest -Uri $u -OutFile ".\static\$fname"
}